*.DS_Store
*.patch
*.diff
*.o
*.a
*.la
*.lo
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
*/.deps
*/.libs
Makefile
Makefile.in
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
xcuserdata
Build
Index
stamp-h2
*.pc
img3tool/img3tool
include/img3tool/img3tool.hpp
configure~
cache_wrkdir
*_buildroot/
*_buildroot_deps/
lzfse_LICENSE
lzfse_README.md
project.xcworkspace
xcshareddata
